# The rule file number should be before 73.
# See https://www.reddit.com/r/archlinux/comments/17ud2h2/comment/k9412mg/ and https://github.com/systemd/systemd/issues/4288#issuecomment-348166161

SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="8010", MODE="0660", TAG+="uaccess"

# Programmer in ARM mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="8012", MODE="0660", TAG+="uaccess"

# Programmer in IAP mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="4348", ATTRS{idProduct}=="55e0", MODE="0660", TAG+="uaccess"

# ESP32-S2 programmer
SUBSYSTEM=="usb", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="4004", MODE="0660", TAG+="uaccess"
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="4004", MODE="0660", TAG+="uaccess"

# rv003usb bootloader
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="b003", MODE="0660", TAG+="uaccess"
#KERNEL=="hiddev*", SUBSYSTEM=="usbmisc", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="b003", MODE="0660", TAG+="uaccess"
